<systelab-dialog-header (close)="close()">{{ 'COMMON_TITLE' | translate | async }}</systelab-dialog-header>

<systelab-tabs class="slab-flex-1">
    <systelab-tab [title]="'title 1'" [id]="'1'">
        <therapeutic-program-panel class="w-100"></therapeutic-program-panel>
    </systelab-tab>
    <systelab-tab [title]="'title 2'" [id]="'2'">
        <div class="slab-flex-1">Second tab</div>
    </systelab-tab>
    <systelab-tab [title]="'title 3'" [id]="'3'" class="p-1">
        <div class="slab-flex-1">Third tab</div>

    </systelab-tab>
</systelab-tabs>

<systelab-dialog-bottom>
    <button id="id2" type="button" class="btn mr-1" (click)="showVisit()">{{'COMMON_VISIT' | translate | async}}</button>
    <button id="id" type="button" class="btn ml-auto" (click)="submit()">{{'COMMON_OK' | translate | async}}</button>

</systelab-dialog-bottom>
