<div class="slab-flex-1 d-flex flex-column">
    <systelab-app-header [logoIcon]="'icon-home'" [userName]="userName" [userFullName]="userFullName" [title]="hospitalName" [menu]="menu">
        <button type="button" id="button1" class="btn mr-1" (click)="doPatientSearch()">Patient</button>
    </systelab-app-header>
    <div class="slab-flex-1 d-flex flex-row">
        <div style="width: 230px;" class="border-right">
            <div>
                <counters-panel></counters-panel>
                <counters-panel></counters-panel>
                <counters-panel></counters-panel>

            </div>
        </div>

        <div class="slab-flex-1 d-flex">
            <div class="slab-flex-1 d-flex flex-column">

                <systelab-tabs class="slab-flex-1" (select)="selectedTab($event)">
                    <systelab-tab [id]="'Tab1'" [title]="'Tab 1'">
                        <visit-grid #grid1 class="slab-flex-1 position-relative m-1 border rounded" [menu]="getMenu()" (action)="doMenuAction($event)">
                        </visit-grid>
                    </systelab-tab>
                    <systelab-tab [id]="'Tab2'" [title]="'Tab 2'" [warning]="true">
                        <visit-grid #grid2 class="slab-flex-1 position-relative m-1">
                        </visit-grid>
                    </systelab-tab>
                </systelab-tabs>

                <div class="d-flex mt-1 mb-1 mr-2">
                    <button type="button" id="button2" class="btn ml-1" (click)="grid1.showOptions()">Options</button>
                    <button type="button" id="button2" class="btn ml-1" (click)="button2()">Button 2</button>
                    <button type="button" id="button2" class="btn ml-1" (click)="button2()">Button 2</button>
                    <button type="button" id="button2" class="btn ml-1" (click)="button2()">Button 2</button>
                </div>

            </div>
        </div>
    </div>
    <div class="d-flex border-top" style="background: black;">
        <div class="slab-flex-1 d-flex m-2">
            <button type="button" id="button1" class="btn mr-1" (click)="doPatientSearch()">Patient</button>
            <button type="button" id="button1" class="btn mr-1" (click)="button1">Button 1</button>
            <button type="button" id="button1" class="btn mr-1" (click)="button1()">Button 1</button>
            <button type="button" id="button1" class="btn mr-1" (click)="button1()">Button 1</button>

            <button type="button" id="button2" class="btn ml-auto" (click)="button2()">Button 2</button>
            <button type="button" id="button2" class="btn ml-1" (click)="button2()">Button 2</button>
        </div>
    </div>
</div>